.catalog-card{
    margin: 10px;
    text-align: left;
}
.catalog-card-header{
    background-color: #0b97c4;
}

.catalog-item-description{
    padding-left: 30px
}

.catalog-card-img{
    max-width: 60%
}