.subscribe-user-details{
    width: 300px;
    margin: 20px;
    padding: 10px;
    textAlign: center;
    display: block;
}

.subscribe-item-details{
    width: 300px;
    margin: 20px;
    padding: 10px;
    textAlign: center;
    display: block;
}