.subscribe-user-details{
    width: 300px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    display: block;
}

.subscribe-item-details{
    width: 80%;
    margin: 20px;
    padding: 10px;
    text-align: left;
    display: block;
}